@import "tailwindcss";

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0c0909;
}

::-webkit-scrollbar-thumb {
  background: #231917;
  border: 1px solid #1c1414;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7043;
}

/* Firefox scrollbar compatibility */
* {
  scrollbar-width: thin;
  scrollbar-color: #231917 #0c0909;
}
